.css-most-popular-serie {
  display: grid;
  padding: 0;
  list-style: none;
  grid-column: 1/-1;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  gap: 2rem;
}

@media (min-width: 768px) {
  .css-most-popular-serie {
    grid-column: 2/-1;
  }
}

@media (min-width: 1030px) {
  .css-most-popular-serie {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 1rem;
  }
}

@media (min-width: 1270px) {
  .css-most-popular-serie {
    grid-column: 5/-1;
  }
}
