.css-new-series-wrapper {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}

@media (min-width: 375px) {
  .css-new-series-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 546px) {
  .css-new-series-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .css-new-series-wrapper {
    grid-column: 2/-1;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem 2rem;
  }
}

@media (min-width: 938px) {
  .css-new-series-wrapper {
    grid-column: 2/-1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem 2rem;
  }
}

@media (min-width: 1270px) {
  .css-new-series-wrapper {
    grid-column: 5/-1;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1560px) {
  .css-new-series-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

.css-new-serie {
  display: grid;
  grid-template-columns: repeat(6, minmax(0rem, 1fr));
  grid-column-gap: 1.6rem;
  padding: 6.4rem 3.2rem;
}

@media (min-width: 768px) {
  .css-new-serie {
    grid-template-columns: repeat(13, minmax(0rem, 1fr));
    grid-column-gap: 2rem;
  }
}

@media (min-width: 1270px) {
  .css-new-serie {
    grid-template-columns: repeat(24, minmax(0rem, 1fr));
    max-width: none;
  }
}

@media (min-width: 768px) {
  .css-new-serie {
    padding: 6.4rem 4rem;
  }
}

.css-category-new-serie {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 700;
}

@media (min-width: 375px) {
  .css-category-new-serie {
    font-size: 4rem;
  }
}

.css-title-new-series {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  grid-row: 1/2;
  grid-column: 1/-1;
  margin-bottom: 4.8rem;
}

@media (min-width: 546px) {
  .css-title-new-series {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .css-title-new-series {
    grid-column: 2/-1;
  }
}

@media (min-width: 1270px) {
  .css-title-new-series {
    grid-column: 5/-1;
  }
}
