.css-link {
  position: relative;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  cursor: default;
  line-height: 1.5;
  tab-size: 4;
  word-break: break-word;

  @media screen and (min-width: 768px) {
    html {
      margin-right: calc(100% - 100vw);
    }
  }

  body {
    min-width: 100%;
    overflow: hidden;
    font: 1.6rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    min-height: 100vh;
    transition: background 0.5s ease, color 0.1s ease, fill 0.5s ease,
      border 0.5s ease !important;
  }

  @media (min-width: 768px) {
    body {
      position: static;
    }
  }

  #root {
    min-height: 100%;
    min-width: 100%;
  }

  input,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}
