.css-last-update {
  display: grid;
  grid-template-columns: repeat(6, minmax(0rem, 1fr));
  grid-column-gap: 1.6rem;
  padding: 6.4rem 3.2rem;
}

@media (min-width: 768px) {
  .css-last-update {
    grid-template-columns: repeat(13, minmax(0rem, 1fr));
    grid-column-gap: 2rem;
    padding: 6.4rem 4rem;
    grid-template-rows: 72px 1fr;
  }
}

@media (min-width: 1270px) {
  .css-last-update {
    grid-template-columns: repeat(24, minmax(0rem, 1fr));
    max-width: none;
  }
}

.css-title-category {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  grid-row: 1/2;
  grid-column: 1/-1;
  margin-bottom: 4.8rem;
}

@media (min-width: 546px) {
  .css-title-category {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .css-title-category {
    grid-column: 2/-1;
  }
}

@media (min-width: 1270px) {
  .css-title-category {
    grid-column: 5/-1;
  }
}
.css-category {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 700;
}

@media (min-width: 375px) {
  .css-category {
    font-size: 4rem;
  }
}
.css-series-wrapper {
  grid-row: 3;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 4rem 2rem;
}

@media (min-width: 375px) {
  .css-series-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (min-width: 546px) {
  .css-series-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  }
}

@media (min-width: 768px) {
  .css-series-wrapper {
    grid-column: 2/-1;
    grid-gap: 4.8rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}

@media (min-width: 1270px) {
  .css-series-wrapper {
    grid-column: 5/-1;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}
