.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: '';
}
.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

.carousel-root {
  outline: none;
  transition: background 0.5s ease, color 0.1s ease, fill 0.5s ease,
    border 0.5s ease !important;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none;
}
.carousel .carousel {
  position: relative;
}
.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}
.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
}
.carousel .thumbs {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
}
.carousel .thumb {
  -webkit-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -o-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}
.carousel .thumb:focus {
  border: 3px solid #ccc;
  outline: none;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #333;
}
.carousel .thumb img {
  vertical-align: top;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.carousel .slider.animated {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
}
.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}
.carousel .slide .legend {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -ms-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}
.carousel:hover .slide .legend {
  opacity: 1;
}

.css-carousel-wrapper {
  position: relative;
  padding-bottom: 1.4rem;
}

.css-slide-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(0rem, 1fr));
  grid-column-gap: 1.6rem;
  padding: 6.4rem 3.2rem;
  height: 100%;
}

@media (min-width: 768px) {
  .css-slide-wrapper {
    grid-template-columns: repeat(13, minmax(0rem, 1fr));
    grid-column-gap: 2rem;
  }
}

@media (min-width: 1270px) {
  .css-slide-wrapper {
    grid-template-columns: repeat(24, minmax(0rem, 1fr));
    max-width: none;
  }
}

@media (min-width: 768px) {
  .css-slide-wrapper {
    padding: 6.4rem 4rem;
  }
}

@media (min-width: 768px) {
  .css-slide-wrapper {
    min-height: 20rem;
    position: relative;
  }
}
.css-slide-root {
  grid-column: 1/-1;
  margin-top: 5.4rem;
  z-index: 20;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 7.2rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .css-slide-root {
    grid-column: 2 / span 9;
    margin-top: 3.2rem;
  }
}

@media (min-width: 1030px) {
  .css-slide-root {
    grid-column: 2 / span 6;
  }
}

@media (min-width: 1270px) {
  .css-slide-root {
    grid-column: 5 / span 9;
  }
}
.css-recommended {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #989898;
}

@media (min-width: 375px) {
  .css-recommended {
    font-size: 2.4rem;
  }
}
.css-title {
  padding-bottom: 1rem;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
}

@media (min-width: 375px) {
  .css-title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 700;
  }
}

.css-genre {
  margin-bottom: 0.6rem;
  display: none;
}

@media (min-width: 768px) {
  .css-genre {
    display: -webkit-box;
    display: -webkit-flex;
    display: ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.css-genre-link {
  -webkit-text-decoration: none;
  text-decoration: none;
  text-underline-offset: 4px;
}

.css-description {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  grid-column: 1/-1;
  display: none;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

@media (min-width: 938px) {
  .css-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.css-check-it-out {
  display: -webkit-box;
  display: -webkit-flex;
  display: ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.6rem;
}

@media (min-width: 938px) {
  .css-check-it-out {
    margin-top: 4rem;
  }
}

.css-checkitout-link {
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: color 0.2s ease, background 0.35s ease;
  transition: color 0.2s ease, background 0.35s ease;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0.8rem;
  text-decoration: none;
}

.css-ongoing-wrapper {
  margin-left: 2.5rem;
  display: none;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .css-ongoing-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: ms-flexbox;
    display: flex;
  }
}

.css-ongoing-circle {
  color: #54c81d;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 0.7rem;
}

.css-ongoing {
  color: #6d6d6d;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 450;
  text-transform: capitalize;
}

.css-imagebg {
  width: 100%;
  border-radius: 0.8rem;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  max-height: 100%;
}

@media (min-width: 375px) {
  .css-imagebg {
    object-fit: contain;
    object-position: right bottom;
  }
}

@media (min-width: 768px) {
  .css-imagebg {
    object-fit: contain;
    object-position: right 110%;
  }
}

@media (min-width: 1270px) {
  .css-imagebg {
    object-fit: contain;
    object-position: right bottom;
  }
}

@media (min-width: 1560px) {
  .css-imagebg {
    object-position: right top;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.css-footer-wrapper {
  width: 100%;
}

.css-footer {
  position: relative;
  z-index: 99;
  margin: -9rem 3.2rem 4rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, minmax(0rem, 1fr));
  grid-column-gap: 1.6rem;
}

@media (min-width: 768px) {
  .css-footer {
    grid-template-columns: repeat(13, minmax(0rem, 1fr));
    grid-column-gap: 2rem;
    margin: -9rem 4rem 4rem;
  }
}

@media (min-width: 1270px) {
  .css-footer {
    grid-template-columns: repeat(24, minmax(0rem, 1fr));
  }
}

.css-items-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  grid-column: 1/-2;
}

@media (min-width: 768px) {
  .css-items-list {
    grid-column: 2/-2;
    margin-left: 5px;
  }
}

@media (min-width: 1270px) {
  .css-items-list {
    grid-column: 5/-2;
    margin-left: 0;
  }
}

.css-selected-item {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.css-selected-item:last-child {
  margin-right: 0;
}

.css-selected-item:hover {
  opacity: 1;
}

.css-item {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0.15;
}

.css-item:last-child {
  margin-right: 0;
}

.css-item:hover {
  opacity: 1;
}

.css-control-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column: -2/-1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.css-control-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  outline: none;
  cursor: pointer;
}

.css-control-button:last-child {
  margin-left: 2.4rem;
}

.css-button-navigate {
  font-size: 3.3rem;
}
