.CardImage {
    .css-image-wrapper {
        position: relative;
    }

    .css-image-wrapper:hover {
        box-shadow: 0 1.2rem 3rem #989898;
        border-radius: 0.8rem;
        -webkit-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
    }

    .css-image-wrapper:hover .css-chip-read {
        opacity: 0;
    }

    @media (min-width: 768px) {
        .css-image-wrapper:hover .css-chip-read {
            opacity: 1;
        }
    }

    .css-image-card {
        height: 22.4rem;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 0.8rem;
        position: relative;
        z-index: 10;
    }

    .css-chip-read {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 500;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 10rem;
        padding: 0.8rem 2.4rem;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        gap: 0.8rem;
        position: absolute;
        bottom: 1.6rem;
        left: 1.6rem;
        right: 1.6rem;
        z-index: 11;
        width: calc(100% - 3.2rem);
        opacity: 0;
        -webkit-transition: color 0.2s, background 0.35s, opacity 0.2s ease-in;
        transition: color 0.2s, background 0.35s, opacity 0.2s ease-in;
    }

    .css-info-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 1.2rem;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .css-mange-name-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .css-mange-name {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        padding: 0 0.5rem 0 0;
    }

    .css-chapter-value {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
    }
}

