.card-image-discover {
  .css-image-discover-wrapper {
    width: 100%;
    padding-top: 150%;
    position: relative;
    margin-bottom: 1.6rem;
  }
  .css-image-discover-wrapper:hover {
    box-shadow: 0 1.2rem 3rem #989898;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 0.8rem;
  }

  .css-image-discover-wrapper:hover .css-chip-read {
    opacity: 0;
  }

  @media (min-width: 768px) {
    .css-image-discover-wrapper:hover .css-chip-read {
      opacity: 1;
    }
  }

  .css-image-discover-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 0.8rem;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .css-info-serie-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .css-mange-name-serie {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .css-chapter-more-info {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    padding-top: 0.2rem;
    color: #6d6d6d;
  }

  .css-chip-read {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10rem;
    padding: 0.8rem 2.4rem;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
    right: 1.6rem;
    z-index: 11;
    width: calc(100% - 3.2rem);
    opacity: 0;
    -webkit-transition: color 0.2s, background 0.35s, opacity 0.2s ease-in;
    transition: color 0.2s, background 0.35s, opacity 0.2s ease-in;
  }
}
